body{
    margin: 0;
    padding: 0;
    background-image: url(img/mapa.png);   
    background-size: cover;
    background-position: center;    
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: sans-serif;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-left: 5%;
    padding-right: 5%;
    font-weight: bold;
    background-color: #103f54;
    height: 90px;

}
h1{ 
    
    color: azure;
    font-size: 45px;
}

ul li{
    display: inline-block;
    padding: 0px 20px;
    
}

a{
    color: azure;
    text-decoration: none;
    list-style: none;
    
}
a:hover{
    color: aquamarine;
}
.formulario{
    margin-left: 500px;
    margin-top: 300 px;     
    padding: 30px;
    
}
.usuarioi{
    color: black;
}
.input-contenedor{
    margin-left: 100px;
    margin-top: 10px;
}
.boton{
    margin-left: 100px;
    margin-top: 10px;
}
.link{
    color: rgb(255, 34, 34);
}